{% extends "base.html" %}
{% block content %}

<h3 class="pink-text text-darken-2 center-align">Highlighted Reviews</h3>

<ul class="collapsible">
    {% for review in reviews %}
    <li>
        <div class="collapsible-header white-text red lighten-2 text-shadow">
            <i class="fas fa-caret-down"></i>
            <strong>{{ review.book_name }}</strong> , by {{ review.author_name }}: {{ review.genre_name }} - {{ review.publish_date }}
        </div>
        <div class="collapsible-body">
            <strong>{{ review.review_name }}</strong>
            <p>{{ review.review_description }}</p>
            <p><em>by: {{ review.created_by }}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}